In [3]:
fruits = ['banana', 'apple', 'kiwi', 'watermelon', 'date']

print("The third fruit is:", fruits[2])

The third fruit is: kiwi

In [4]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

combined_list = list1 + list2

print("Combined list:", combined_list)

Combined list: [1, 2, 3, 4, 5, 6]

In [5]:
numbers = [10, 20, 30, 40, 50, 60, 70]

first = numbers[0]
middle = numbers[len(numbers) // 2]
last = numbers[-1]

new_list = [first, middle, last]

print("New list with first, middle, last:", new_list)

New list with first, middle, last: [10, 40, 70]

In [6]:
favorite_movies = ["Inception", "The Matrix", "Interstellar", "Godfather", "The Dark Knight"]

movies_tuple = tuple(favorite_movies)

print("Movies tuple:", movies_tuple)

Movies tuple: ('Inception', 'The Matrix', 'Interstellar', 'Godfather', 'The Dark Knight')

In [7]:
cities = ['London', 'New York', 'Tokyo', 'Paris', 'Sydney']

if 'Paris' in cities:
    print("Paris is in the list")

else:
    print("Paris is not in the list")

Paris is in the list

In [8]:
numbers = [1, 2, 3, 4, 5]

duplicate_numbers = numbers * 2

print("Original_list:", numbers)
print("Duplicate_list:", duplicate_numbers)

Original_list: [1, 2, 3, 4, 5]
Duplicate_list: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [9]:
numbers = (1,2,3,4,5,6,7,8,9,10)

sliced = numbers[3:7]

print(sliced)

(4, 5, 6, 7)

In [10]:
colors = ['red', 'blue', 'green', 'blue', 'yellow', 'blue']

blue_count = colors.count('blue')

print("The color 'blue' appears", blue_count, "times in the list")

The color 'blue' appears 3 times in the list

In [11]:
animals = ('cat', 'dog', 'lion', 'tiger', 'elephant')

lion_index = animals.index('lion')

print("The index of 'lion' is:", lion_index)

The index of 'lion' is: 2

In [12]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)

merged_tuple = tuple1 + tuple2
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [13]:
my_list = [10,20,30,40,50]
my_tuple = (100, 200, 300, 400, 500)
list_length = len(my_list)
tuple_length = len(my_tuple)

print("Length of the list:", list_length)
print("Length of the tuple:", tuple_length)

Length of the list: 5
Length of the tuple: 5

In [14]:
my_tuple = (5, 10, 15, 20, 25)

my_list = list(my_tuple)

print("Original tuple:", my_tuple)
print("Converted list:", my_list)

Original tuple: (5, 10, 15, 20, 25)
Converted list: [5, 10, 15, 20, 25]

In [15]:
numbers = (12, 45, 3, 89, 24, 7)

max_value = max(numbers)
min_value = min(numbers)

print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 89
Minimum value: 3

In [16]:
words = ('apple', 'banana', 'cherry', 'date', 'elderberry')

reversed_words = words[::-1]

print("Reversed tuple:", reversed_words)

Reversed tuple: ('elderberry', 'date', 'cherry', 'banana', 'apple')